@media screen and (max-width:720px) {
    .einston-slogan-typography{ 
        font-size:16px;

    }
    .einston-slogan-button{
        margin-bottom: 20px;
    }

    .einston-slogan-typography{ 
        margin-left:0px
    }
    .einston-slogan-image{
        display:none

    }
    .einston-slogan-tpOne{ 
        font-size:20px
    }
    .einston-slogan-tpTwo{ 
        font-size:20px
    }
    
   
}